html,
body {
  margin: 0;
  /* Prevent scrolling. */
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#canvases-centerer {
  /* Center the canvases in the viewport. */
  display: flex;
  justify-content: center;
  /* align-items: center;
  width: 100vw;
  height: 100vh; */
}

#canvases {
  /* Support layered canvases. */
  position: relative;
  /* Display size: scale the internal 256px canvas up to 375px */
  /* Canvas dimensions are hard-coded to fit on the following mobile browsers. */
  /* Apple iPhone 15 Safari (393px x 695px viewport) */
  /* DuckDuckGo browser (393px x 650px viewport) */
  /* iPhone Xs Safari (375px x 634px viewport) */
  /* CSS display width */
  width: var(--canvas-width);
  /* CSS display height */
  height: var(--canvas-height);

}

canvas {
  /* Support layered canvases. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* Disable unwanted user interactions. */
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* keep scaled pixels crisp for low-res art */
  image-rendering: pixelated;
}